<v-layout>
<div slot="content" class="container d-flex h-100">
  <div class="row align-self-center" >
    <form @submit.prevent="login(user)">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-envelope fa-fw"></i>
          </div>
          <input
            v-model="user.login"
            placeholder="Имя пользователя"
            class="form-control"
          >
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-lock fa-fw"></i>
          </div>
          <input
            v-model="user.password"
            type="password"
            placeholder="Пароль"
            class="form-control"
          >
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">
          Войти
        </button>
      </div>
    </form>
</div>
</div>
</v-layout>
