/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.spt-icon_q_84x84 {
  background-image: url(/static/img/sprite.png);
  background-position: 0px 0px;
  width: 84px;
  height: 84px;
}
.spt-icon_v_84x84 {
  background-image: url(/static/img/sprite.png);
  background-position: -89px 0px;
  width: 84px;
  height: 84px;
}
.spt-icon_x_31x33 {
  background-image: url(/static/img/sprite.png);
  background-position: -29px -89px;
  width: 31px;
  height: 33px;
}
.spt-larr_24x43 {
  background-image: url(/static/img/sprite.png);
  background-position: 0px -89px;
  width: 24px;
  height: 43px;
}
